body {
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
}
img {
    border: none;
}
#content {
    margin: 2em auto;
    max-width: 670px;
    padding: 5px 15px;
}
#banners {
    float: right;
    padding: 10px;
    font-size: smaller;
    text-align: center;
}
#banners .banner {
    margin-top: 1em;
}
