<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amsterdam.rb - <%=h controller.controller_name.humanize %></title>
    <style type="text/css">
      label { display: block; }
      .error_message { color: red; padding-left: 1em; }
      tr.odd { background-color: #eee; }
    </style>
  </head>
  <body>
    <h1>Amsterdam.rb - <%=h controller.controller_name.humanize %></h1>
    <%= yield %>
  </body>
</html>
