<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amsterdam.rb</title>
    <style type="text/css">
      body {
        margin: auto;
        max-width: 750px;
        font-family: Helvetica, sans-serif;
        line-height: 1.4;
      }
      #banners { float: right; }
    </style>
  </head>
  <body>
    <h1>Amsterdam.rb</h1>

    <div id="banners">
      <% Banner.current.each do |banner| %>
	<% div_for banner do %>
	  <%= link_to show_image_tag(banner.image), banner.link %>
	<% end %>
      <% end %>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
