<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amsterdam.rb</title>
    <style type="text/css">
      img { border: none; }
      #content {
        margin: 2em auto;
        max-width: 670px;
        font-family: Helvetica, sans-serif;
        line-height: 1.4;
        padding: 5px 15px;
      }
      #banners {
        float: right;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <% unless Banner.current.empty? %>
      <div id="banners">
        <% Banner.current.each do |banner| %>
	  <% div_for banner do %>
	    <%= link_to show_image_tag(banner.image), banner.link %>
	  <% end %>
        <% end %>
      </div>
    <% end %>

    <div id="content">
      <h1>Amsterdam.rb</h1>

      <%= yield %>
    </div>
  </body>
</html>
