<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <title>Amsterdam.rb</title>
    <meta name="keywords" content="ruby, rails, programming, community, meetings, amsterdam">
    <%= stylesheet_link_tag 'screen' %>
  </head>
  <body>
    <% unless Banner.current.empty? %>
      <div id="banners">
        Our sponsors:
        <% Banner.current.each do |banner| %>
	  <% div_for banner do %>
	    <%= link_to show_image_tag(banner.image), banner.link %>
	  <% end %>
        <% end %>
      </div>
    <% end %>

    <div id="content">
      <h1>Amsterdam.rb</h1>

      <%= yield %>
    </div>
  </body>
</html>
