<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amsterdam.rb</title>
    <style type="text/css">
      #banners { float: right; }
    </style>
  </head>
  <body>
    <h1>Amsterdam.rb</h1>

    <div id="banners">
      <a href="http://www.jaoo.dk/">
	<%= image_tag 'jaoo-2008.gif' %>
      </a>
    </div>

    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
